# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    app.app_url: '%env(resolve:APP_URL)%'
    app.craftcms_api_publish_token: '%env(resolve:CRAFTCMS_API_PUBLISH_TOKEN)%'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    Strata\Symfony\TwigExtension:
        tags: [ 'twig.extension' ]

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
            - '../src/Tests/'

    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    # W3C API connection
    App\Service\W3C:
        arguments:
            $apiUrl: '%env(resolve:W3C_API_URL)%'
            $apiKey: '%env(resolve:W3C_API_KEY)%'

    # Craft CMS API connection
    App\Service\CraftCMS:
        arguments:
            $apiUrl: '%env(resolve:CRAFTCMS_API_URL)%'
            $apiKey: '%env(resolve:CRAFTCMS_API_READ_TOKEN)%'

    # Query manager to retrieve data from APIs
    Strata\Data\Query\QueryManager:
            configurator: [ '@App\Service\QueryManagerConfigurator', 'configure' ]

    # Site object
    Strata\Frontend\Site:
        configurator: [ '@App\Service\SiteConfigurator', 'configure' ]

    # CMS preview mode
    Strata\Symfony\EventSubscriber\PreviewMode:
        arguments:
            $dataProvider: 'craft'
