{% extends '@W3CWebsiteTemplates/pages/listing.html.twig' %}

{% block filters %}
    {{ include('@W3CWebsiteTemplates/components/listings/press-releases/filters.html.twig') }}
{% endblock %}

{% block list %}
    <div aria-live="polite" aria-atomic="true">
        {{ 'pagination.summary'|trans({
            'page': entries.pagination.page,
            'from': entries.pagination.from,
            'to': entries.pagination.to
        }, 'w3c_website_templates_bundle') }}
    </div>

    {{ include('@W3CWebsiteTemplates/components/listings/press-releases/list.html.twig') }}
{% endblock %}

{% block pre_footer %}
    {% embed '@W3CWebsiteTemplates/components/pre-footer.html.twig' %}
        {% block content %}
            {% include '@W3CWebsiteTemplates/components/styles/feed.html.twig' with { 'feed_url': path('app_feed_pressreleases'), 'feed_type': 'press releases' } %}
            {{ parent() }}
        {% endblock %}
    {% endembed %}
{% endblock %}
