{# extends '@W3CWebsiteTemplates/base.html.twig' #}

{% block title %}{{ 'Page not found'|trans }}{% endblock %}

{% block body %}

            <h1>Page not found</h1>
            <p>Error 404 page text</p>

{% endblock %}
